<CustomModalDialog DialogSize="ModalDialogSize.Large" @ref="modalDialog">

    <FrontObject>
        <button class="btn btn-primary btn-sm" @onclick="Open">Добавить план/подработку</button>
    </FrontObject>

    <Body>
        <div class="row">
            <div class="col-4">
                <label>Начало</label>
                <input class="form-control form-control-sm" type="datetime-local" name="name" @bind="begin" />
            </div>
            <div class="col-4">
                <label>Завершение</label>
                <input class="form-control form-control-sm" type="datetime-local" name="name" @bind="end" />
            </div>
            <div class="col-4">
                <label>Тип</label>
                <select class="form-select form-select-sm" name="name" @bind="planType" >
                    <option value="@PlanType.Plan">План</option>
                    <option value="@PlanType.Overwork">Подработка</option>
                </select>
            </div>

        </div>

        <div class="row">
            @if (planType == PlanType.Overwork)
            {
                <div class="col-8">
                    <label>Тип</label>
                    <select class="form-select form-select-sm" name="name" @bind="storeId">
                        <option value="@Guid.Empty">Не выбран</option>
                        @if (allStories != null)
                        {
                            @foreach (var store in allStories)
                            {
                                <option value="@store.Id">@store.Name</option>
                            }
                        }
                    </select>
                </div>
            }
        </div>
    </Body>

    <Footer>
        <button class="btn btn-primary btn-sm" @onclick="Create">Добавить</button>
        <button class="btn btn-info btn-sm" @onclick="Close">Отмена</button>
    </Footer>

</CustomModalDialog>
@code {

    [Parameter]
    public EventCallback Action { get; set; }

    [Parameter]
    public Guid EmployeeId { get; set; }

    [Parameter]
    public DateTime CurrentDate { get; set; }

    [Parameter]
    public Guid StoreId { get; set; }

    [Inject]
    public ITimeKeeperDbContextFactory contextFactory { get; set; }

    [Inject]
    public IPlanService PlanService { get; set; }

    [Inject]
    public ILogger<CreatePlanDialogComponent> Logger { get; set; }

    private List<StoreEntity> allStories { get; set; }
    private DateTime begin { get; set; }
    private DateTime end { get; set; }
    private PlanType planType { get; set; } = PlanType.Plan;
    private Guid storeId { get; set; }

    private CustomModalDialog modalDialog { get; set; } = new ();

    private async Task Open()
    {
        storeId = StoreId;
        begin = CurrentDate.Date.AddHours(8);
        end = CurrentDate.Date.AddHours(20);

        await modalDialog.Open();

        try
        {
            using var context = await contextFactory.Create();

            allStories = context.Stores.OrderBy(x => x.Name).ToList();
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, $"Ошибка пр открытии окна плана");
        }
    }

    private async Task Close()
    {
        await modalDialog.Close();
    }

    private async Task Create()
    {
        try
        {
            await PlanService.Create(EmployeeId, planType, begin, end, storeId);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Ошибка при создании плана");
        }

        try
        {
            if (Action.HasDelegate)
            {
                await Action.InvokeAsync();
            }
        }
        catch (Exception)
        {
            //ToDo - записать лог и отобразить сообщение
        }

        await modalDialog.Close();
    }
}
